body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

h1 {
    color: #f37524;
}

#msg {
    font-style: italic;
}

#genbtn,
#copybtn {
    margin-top: 1.2rem;
    display: block;
    color: white;
    background-color: #f37524;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

#genbtn:disabled {
    background-color: #8d3e0c;
    cursor: not-allowed;
}

#copybtn:disabled {
    background-color: #8d3e0c;
    cursor: not-allowed;
    display: none;
}

#genbtn:active,
#copybtn:active {
    background-color: #8d3e0c;
}

#salt,
#digest {
    overflow-wrap: break-word;
    color: blue;
    max-width: 615px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}